* {
    margin: 12;
    padding: 10;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    background-image: url("istockphoto-1271962351-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

header {
    color: black;
    padding: 20px;
    margin: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 190px;
    text-transform: capitalize;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .nav-item a {
    text-decoration: none;
  }

main {
    padding: 40px;
    text-align: center;
    text-decoration: solid;
}

footer {
    color: black;
    padding: 20px;
    text-align: center;
}

.hero {
    background-image: url('path/to/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
  }

.hero content {
    text-align: center;
    color: #fff;
}

.hero content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }

p {
    padding: 20px;
    background-color: lightpink;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}